.subnav__switch {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px;
    /* -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); */
}
.subnav__switch-list {
    list-style: none;
    display: flex;
    background: #222222af;
    padding: 20px;
    border-radius: 50px;
    margin: 0;
    position: relative;
}
.subnav__switch-list li {
    margin: 0 10px;
    position: relative;
}
.subnav__switch-list a {
    color: rgb(222, 222, 222);
    text-decoration: none;
    padding: 10px 15px;
    position: relative;
    display: inline-block;
    transition: color 0.3s;
    z-index: 2;
}
.subnav__switch-indicator {
    opacity: 0;
    position: absolute;
    height: 40px;
    background: #5b5b5b;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    margin: 20px 0;
    z-index: 1;
}
.subnav__switch-list a:hover{
    color: #ffffff;
}