/* @import "./cssComponent/nav.css";
@import "./cssComponent/mainBody.css"; */
html {
    scroll-behavior: smooth;
}

.test {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0); /* Assicurati che ci sia un background per vedere l'effetto */
    
    /* Maschera con più gradienti */
    mask-image: 
        linear-gradient(to bottom, transparent, black 95%);
    mask-composite: intersect;

    /* Compatibilità WebKit */
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 95%);
    -webkit-mask-composite: destination-in;
}


.clip-path-diagonal {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
}

